body {
}

.main-container {
	padding: 1rem 1.5rem;
}

/* dr items */
.dr-items {
	padding: 0.5rem 0rem;
}

.dr-item {
	border-bottom: 1px solid #e4e6e8;
	color: #666;
	padding: 4px;
}

	.dr-item.alternate {
		background-color: #fffbec;
	}

	.dr-item .lower-emphasis {
		font-size: smaller;
		color: darkgrey;
	}

	.dr-item .overflow-ellipsis {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.dr-item .drnum {
		color: #000;
	}

	.dr-item .description {
		font-size: smaller;
		color: #000;
	}

	.dr-item .status {
	}

	.dr-item .date-field {
	}

		.dr-item .date-field .date {
		}

	.dr-item .ata {
	}

	.dr-item .priority-1:after {
		background-image: url('/imgs/priority-1.png');
		background-size: 20px 20px;
		display: inline-block;
		width: 20px;
		height: 20px;
		content: "";
	}

	.dr-item .priority-3:after {
		background-image: url('/imgs/priority-3.png');
		background-size: 20px 20px;
		display: inline-block;
		width: 20px;
		height: 20px;
		content: "";
	}

.search-state-description {
	padding: 15px;
}

.selected-item form {
	display: inline;
}

.sm-blockquote {
	font-size: 1em;
}