@model HomeModelView

<p class="bg-info search-state-description">
    Showing @Model.SearchState.Description. <a asp-action="SearchOptions">(change)</a>
</p>

@await Html.PartialAsync("Pager", Model.Pager)

@await Html.PartialAsync("DrItem", Model.DrCollection)

@await  Html.PartialAsync("Pager", Model.Pager)