@model HomeModelView

<div class="alert alert-info">
    Showing @Model.SearchState.Description. <a class="alert-link" asp-action="SearchOptions">(change)</a>
</div>

@await Html.PartialAsync("Pager", Model.Pager)

@await Html.PartialAsync("DrItem", Model.DrCollection)

@await Html.PartialAsync("Pager", Model.Pager)